@using MvcOnlineTicariOtomasyon.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th> ID</th>
        <th> Kategori Adı</th>
        <th> Sil</th>
        <th> Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.KategoriId</td>
            <td> @item.KategoriAdı</td>
            <td> <a href="/Kategori/KategoriSil/@item.KategoriId" class="btn btn-danger">Sil</a> </td>
            <td> <a href="/Kategori/KategoriGuncelle/@item.KategoriId" class="btn btn-success">Güncelle</a> </td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }), new PagedListRenderOptions
{
    LiElementClasses=new List<string>
    {
        "page-link"
    }
})

<a href="/Kategori/YeniKategori/" class="btn btn-primary">Kategori Ekle</a>